{# <nav
	class="navbar navbar-expand-lg navbar-light"> #}


	<nav class="navbar navbar-expand-lg navbar-light bg-light">


	<div class="container-fluid">
			<a class="navbar-brand" href="#">
			<img src="{{ asset("logo-1.jpg") }}" width="50" height="44"/>
			</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Basculer la navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">


				<li class="nav-item">
					<a class="nav-link active" href="{{ path('home_index')}}">Accueil
						<span class="visually-hidden">(actuel)</span>
					</a>
				</li>

				<li>
				<a class="nav-link active" href="{{ path('recipe_recipe_community') }}">Recette de la communauté</a>
				</li>

				<li>
				<a class="nav-link active" href="{{ path('contact.index') }}">Contact</a>
				</li>

				{% if app.user %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Mes Ingrédients
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('ingredien_new') }}">Créer un ingrédient</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('ingredien_index') }}">Liste des ingrédients</a>
							</li>
						</ul>
					</li>


					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Mes Recettes
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('recipe_new') }}">Créer une recette</a>
							</li>
							
							<li>
								<a class="dropdown-item" href="{{ path('recipe_index') }}">Liste des recettes</a>
							</li>
						</ul>
					</li>
				{% endif %}
			</ul>
			<div class="d-flex">
				<ul class="navbar-nav me-auto">


					{%if app.user %}

						<li class="nav-item dropdown" style="margin-right: 5rem;">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
								{{ app.user.getFullName}}</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{{ path('user.edit', {id : app.user.id})}}">Modifier mes informations</a>
								<a class="dropdown-item" href="{{ path('user.edit.password', {id : app.user.id})}}">Modifier mon mot de passe</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{ path('security_logout')}}">Déconnexion</a>

							</div>
						</li>

					{% else %}

						<li class="nav-item">
							<a class="nav-link" href="{{ path('security_login')}}">Connexion</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('security_registration')}}">Inscription</a>
						</li>


					{% endif %}


				</ul>
			</div>
		</div>
	</div>
</nav>
