{# <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark"> <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="container-fluid">
    <a class="navbar-brand" href="#">Recettes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Basculer la navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">

 
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('home.index')}}">Accueil
          <span class="visually-hidden">(actuel)</span>
          </a>
          </li>

    {% if app.user %}
              <li class="nav-item">
          <a class="nav-link" href="{{ path('ingredien.index')}}">Mes Ingrédients</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ path('recipe.index')}}">Mes recettes</a>
        </li>
    {% endif %}
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto">


         {%if app.user %}

            <li class="nav-item dropdown" style="margin-right: 5rem;">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> {{ app.user.fullName}}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Modifier mes informations</a>
              <a class="dropdown-item" href="#">Modifier mon mot de passe</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Déconnexion</a>
            
            </div>
          </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{{ path('security.login')}}">Connexion</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ path('security.registration')}}">Inscription</a>
        </li>


             {% endif %}

          
        </ul>
      </div>
    </div>
  </div>
</nav>

