{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Mes Ingrédients{% endblock %}

{% block body %}
  <div class="jumbotron jumbotron-fluid">
  <div class="card border p-4 w-75 mx-auto">
    <h1>Mes ingrédients</h1>

    <a href="{{ path('ingredien_new') }}" class="btn btn-primary float-right">
      Créer un ingrédient
    </a>

    {% for message in app.flashes('success') %}
      <div class="alert alert-success mt-4">
        {{ message }}
      </div>
    {% endfor %}

    <div class="count mt-4 d-flex justify-content-between">
      <span>Il y a {{ ingredien.getTotalItemCount }} ingrédient(s)</span>
      {{ knp_pagination_render(ingredien) }}
    </div>

    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">Numéro</th>
          <th scope="col">Nom</th>
          <th scope="col">Prix</th>
          <th scope="col">Date de création</th>
          <th scope="col">Modification</th>
          <th scope="col">Suppression</th>
        </tr>
      </thead>
      <tbody>
        {% for ingredien in ingredien %}
          <tr>
            <th scope="row">{{ ingredien.id }}</th>
            <td>{{ ingredien.name }}</td>
            <td>{{ ingredien.price|number_format(2, ',', ',')  }} $</td>
            <td>{{ ingredien.createdAt |date('d/m/Y') }}</td>
            <td>
              <a href="{{ path('ingredien_edit', {id: ingredien.id}) }}" class="btn btn-sm btn-info">Modifier</a>
            </td>
            <td>
              <a href="{{ path('ingredien_delete', {id: ingredien.id}) }}" class="btn btn-sm btn-warning">Supprimer</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
